.catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "item1 item2 item3"
        "item4 item5 item6"
        "item7 item8 item9";

    .item {
        border: solid 1px $rosita;
        padding: 20px;
        width: 90%;
        margin: 10px;
        

        &:hover {
            transform: scale(1.1);
            box-shadow: $rosita;
        }
    }
    .item1 {
        grid-area: item1;
    }
    .item2 {
        grid-area: item2;
    }
    .item3 {
        grid-area: item3;
    }
    .item4 {
        grid-area: item4;
    }
    .item5 {
        grid-area: item5;
    }
    .item6 {
        grid-area: item6;
    }
    .item7 {
        grid-area: item7;
    }
    .item8 {
        grid-area: item8;
    }
    .item9 {
        grid-area: item9;
    }
    
}
.logo {
    display: flex;
    background: $rosita;
    background: $degradado;

    .isologo {
        color: black;
        margin-top: 60px;
        margin-left: 31px;
        font-size: 3em;
        font-family: $fuente-titulos;
        }
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .opciones {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 5px;
        
        .opcion {

            .tipoCalzado {
                padding: 5px;
                background-color: $rosita;
                border-radius: 5px;
                border: none;

                &:hover {
                    background-color: rgb(209, 175, 228);
                }
            }

            a {
                color: black;
                padding: 5px;
                background-color: $rosita;
                border-radius: 5px;
                border: none;
                margin-bottom: 0;

                &:hover {
                    background-color: rgb(209, 175, 228);
                }
            }

            .cantidad {
                background-color: rgb(233, 166, 177);
                padding: 3px;
                border-radius: 3px;
                color: rgb(135, 75, 204);
            }
        }
    }
}


@media screen and (max-width: 780px) {
    .isologo {
        font-size: 2em;
    }
    
}
@media screen and (max-width: 480px) {
    .logo {
        .isologo{
            font-size: 1.5em;
        }
    }
    
}
@media screen and (max-width: 768px) {
    .catalogo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
            "item1 item2"
            "item3 item4"
            "item5 item6"
            "item7 item8"
            "item9 .";
    }
}
@media screen and (max-width: 480px) {
    .catalogo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: 
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6"
            "item7"
            "item8"
            "item9";
    }
}