.consejos {
    padding: 20px;
    margin: 20px;
    .consejos-titulo {
        margin: 20px 0;
    }    
    .consejos-subtit {
        font-size: 1.4em;
    }
    ol {
        li {
            font-size: 1.2em;
        }
    }
}