
.contenedor {
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: $rosita;
    background: $degradado;
    
    .waves {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image:url(../imagenes/wave.png);
        background-size: 1000px 100px;
        animation: waves 20s linear infinite;
    }
}

.redes {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 100px;
}

.icono{
    color: black;
}


@keyframes waves {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

