
.contenedor {
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: $rosita;
    background: $degradado;
    
    .waves {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image:url(../imagenes/wave.png);
        background-size: 1000px 100px;
        animation: waves 20s linear infinite;
    }
}

.redes {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 100px;
}

.icono{
    color: black;
}
.logo {
    display: flex;
    background: $rosita;
    background: $degradado;

    .isologo {
        color: black;
        margin-top: 60px;
        margin-left: 31px;
        font-size: 3em;
        font-family: $fuente-titulos;
        }

}

@media screen and (max-width: 780px) {
    .isologo {
        font-size: 2em;
    }
    
}
@media screen and (max-width: 480px) {
    .logo {
        .isologo{
            font-size: 1.5em;
        }
    }
    
}

@keyframes waves {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

