.promos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 30px;

    .promo {
        padding: 30px;
        border: solid 1px black;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-bottom: 30px;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        background-color: rgba($color: #f8ddfcf4, $alpha: 0.3);

        .bannerpromo {
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        
        button {
            background-color: $rosita;
            border-radius: 5px;
            padding: 5px;
        }
    }
}