.trayectoria{
    display: flex;
    flex-direction: row;
    margin-block: 20px;
    gap: 2rem;
    margin-bottom: 50px;

    .tray-foto{
        display: flex;
        flex-direction: column;
        img {
            width: 90%;
            padding: 10px;
            background-color: $rosita;
        }
    }
    .tray-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;


        p{
            margin-bottom: 0;
    }

}
}


    .trestarjetas {
        margin-bottom: 50px;

        .articulos {
            display: flex;
            flex-direction: row;
        
        }
        .tarjetita {
            display: flex;
            flex-direction: column;
        
            img{
                width: 100%;
            }
        }
    }

    



@media screen and (max-width: 480px) {
    .trayectoria {
        flex-direction: column;
    }
}