* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2 {
    font-family: $fuente-titulos;
}
a { 
    text-decoration: none;
    color: white;
}
.menu {
    background-image:url(./imagenes/fondotextura.avif);
}
.menu1 {
    background-image:url(../imagenes/fondotextura.avif);
    
}