@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
$fuente-titulos: 'Yellowtail', cursive;
$degradado: linear-gradient(270deg, rgba(221,201,233,1) 8%, rgba(226,203,215,1) 38%, rgba(228,231,233,1) 86%);
$rosita: rgb(221,201,233);