* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;
  background: rgb(221, 201, 233);
  background: linear-gradient(270deg, rgb(221, 201, 233) 8%, rgb(226, 203, 215) 38%, rgb(228, 231, 233) 86%);
}
.logo h1 {
  color: black;
  margin-top: 60px;
  margin-left: 31px;
}

.trayectoria {
  display: flex;
  flex-direction: row;
  margin-block: 20px;
  gap: 2rem;
}
.trayectoria .tray-foto {
  display: flex;
  flex-direction: column;
}
.trayectoria .tray-foto img {
  width: 90%;
  padding: 10px;
  background-color: rgb(221, 201, 233);
}
.trayectoria .tray-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.trayectoria .tray-texto p {
  margin-bottom: 0;
}

.articulos {
  display: flex;
  flex-direction: row;
}

.tarjetita {
  display: flex;
  flex-direction: column;
}
.tarjetita img {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .trayectoria {
    flex-direction: column;
  }
}
footer {
  background: rgb(221, 201, 233);
  background: linear-gradient(270deg, rgb(221, 201, 233) 8%, rgb(226, 203, 215) 38%, rgb(228, 231, 233) 86%);
}

.catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "item1 item2 item3" "item4 item5 item6" "item7 item8 item9";
}
.catalogo .item {
  border: solid 1px rgb(221, 201, 233);
  padding: 20px;
  width: 90%;
  margin: 10px;
}
.catalogo .item:hover {
  transform: scale(1.1);
  box-shadow: rgb(221, 201, 233);
}
.catalogo .item1 {
  grid-area: item1;
}
.catalogo .item2 {
  grid-area: item2;
}
.catalogo .item3 {
  grid-area: item3;
}
.catalogo .item4 {
  grid-area: item4;
}
.catalogo .item5 {
  grid-area: item5;
}
.catalogo .item6 {
  grid-area: item6;
}
.catalogo .item7 {
  grid-area: item7;
}
.catalogo .item8 {
  grid-area: item8;
}
.catalogo .item9 {
  grid-area: item9;
}

@media screen and (max-width: 768px) {
  .catalogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "item1 item2" "item3 item4" "item5 item6" "item7 item8" "item9 .";
  }
}
@media screen and (max-width: 480px) {
  .catalogo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(16, 1fr);
    grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6" "item7" "item8" "item9";
  }
}
.historia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "foto-hist1 ." ". foto-hist2" "foto-hist3 ." ". foto-hist4" "foto-hist5 .";
}
.historia .foto-hist {
  border: solid 1px rgb(221, 201, 233);
  padding: 20px;
  width: 100%;
  margin: 10px;
}
.historia .foto-hist:hover {
  transform: scale(1.1);
  box-shadow: rgb(221, 201, 233);
}
.historia .foto-hist1 {
  grid-area: foto-hist1;
}
.historia .foto-hist2 {
  grid-area: foto-hist2;
}
.historia .foto-hist3 {
  grid-area: foto-hist3;
}
.historia .foto-hist4 {
  grid-area: foto-hist4;
}
.historia .foto-hist5 {
  grid-area: foto-hist5;
}

@media screen and (max-width: 768px) {
  .historia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "foto-hist1 foto-hist2" "foto-hist3 foto-hist4" "foto-hist5 .";
  }
}
@media screen and (max-width: 480px) {
  .historia {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "foto-hist1" "foto-hist2" "foto-hist3" "foto-hist4" "foto-hist5";
  }
}/*# sourceMappingURL=style.css.map */